/*
!.gitconfig
!.gitignore
!.gitignore_global

!utils/
!fonts/

!.vimrc
!.vim/
.vim/plugged/

!.zshrc
.private.env

!.config/
.config/nvim/plugged/
.config/fish/
!.config/fish/functions/

!.tmux/
!.tmux.conf
!config.tsx
!mac-setup.sh
!setup-sub-packages.sh
!iterm/
!intellij/
