/*
!.gitignore
!.gitignore_global

!fonts/

!.vimrc
!.vim/
.vim/plugged/

.zshrc

!.config/
.config/nvim/plugged/
.config/fish/
!.config/fish/functions/

!.tmux/
!.tmux.conf
!config.tsx
!setup.sh
!iterm/
!intellij/
